---
extends: "@elastic/kibana"

settings:
  import/resolver:
    '@elastic/eslint-import-resolver-kibana':
      rootPackageName: 'opensearch_index_management_dashboards'
      pluginPaths:
        - .
