name: E2E tests workflow
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"
env:
  OPENSEARCH_DASHBOARDS_VERSION: 'main'
  NODE_OPTIONS: '--max-old-space-size=4096'
jobs:
  tests:
    name: Run Cypress E2E tests
    runs-on: ubuntu-latest
    env:
      # prevents extra Cypress installation progress messages
      CI: 1
      # avoid warnings like "tput: No value for $TERM and no -T specified"
      TERM: xterm
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v3
      - id: run-cypress-tests
        uses: ./.github/actions/run-cypress-tests
        with:
          with-security: false
